/.DS_Store
/dworaczek-laravel/.DS_Store
/dworaczek-laravel/node_modules
/dworaczek-laravel/dist

#lighthouse
/dworaczek-laravel/vendor
/dworaczek-laravel/.env
/dworaczek-laravel/.phpstorm.meta.php
/dworaczek-laravel/.phpunit.result.cache
/dworaczek-laravel/_ide_helper.php
/dworaczek-laravel/_lighthouse_ide_helper.php
/dworaczek-laravel/programmatic-types.graphql

# local env files
/dworaczek-laravel/.env.local
/dworaczek-laravel/.env.*.local

# Log files
/dworaczek-laravel/npm-debug.log*
/dworaczek-laravel/yarn-debug.log*
/dworaczek-laravel/yarn-error.log*
/dworaczek-laravel/pnpm-debug.log*

# Editor directories and files
/dworaczek-vue/.idea
/dworaczek-vue/.vscode
/dworaczek-vue/*.suo
/dworaczek-vue/*.ntvs*
/dworaczek-vue/*.njsproj
/dworaczek-vue/*.sln
/dworaczek-vue/*.sw?

/.phpunit.cache
/dworaczek-vue/node_modules
/dworaczek-vue/public/build
/dworaczek-vue/public/hot
/dworaczek-vue/public/storage
/dworaczek-vue/storage/*.key
/dworaczek-vue/vendor
/dworaczek-vue/.env
/dworaczek-vue/.env.backup
/dworaczek-vue/.env.production
/dworaczek-vue/.phpactor.json
/dworaczek-vue/.phpunit.result.cache
/dworaczek-vue/Homestead.json
/dworaczek-vue/Homestead.yaml
/dworaczek-vue/auth.json
/dworaczek-vue/npm-debug.log
/dworaczek-vue/yarn-error.log
/dworaczek-vue/.fleet
/dworaczek-vue/.idea
/dworaczek-vue/.vscode
